name: Package Lambdas and Upload to S3

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  hello_world:
    name: Package hello_world
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect changes in hello_world
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            hello_world:
              - 'hello_world/**'

      - name: Configure AWS credentials
        if: steps.changes.outputs.hello_world == 'true'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::749174759054:role/DeployerRole
          aws-region: us-east-1

      - name: Zip hello_world
        if: steps.changes.outputs.hello_world == 'true'
        run: |
          cd hello_world
          zip -r ../hello_world.zip .
          cd ..

      - name: Upload hello_world to S3
        if: steps.changes.outputs.hello_world == 'true'
        run: |
          aws s3 cp hello_world.zip s3://lambda-zip-bucket-for-testing-jan/hello_world.zip

  hello_world_2:
    name: Package hello_world_2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect changes in hello_world_2
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            hello_world_2:
              - 'hello_world_2/**'

      - name: Configure AWS credentials
        if: steps.changes.outputs.hello_world_2 == 'true'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::749174759054:role/DeployerRole
          aws-region: us-east-1

      - name: Zip hello_world_2
        if: steps.changes.outputs.hello_world_2 == 'true'
        run: |
          cd hello_world_2
          zip -r ../hello_world_2.zip .
          cd ..

      - name: Upload hello_world_2 to S3
        if: steps.changes.outputs.hello_world_2 == 'true'
        run: |
          aws s3 cp hello_world_2.zip s3://lambda-zip-bucket-for-testing-2-jan/hello_world_2.zip
