name: Zip Lambda and Upload to S3

on:
  push:
    branches:
      - main

permissions:
  id-token: write   # REQUIRED for OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::749174759054:role/DeployerRole
          aws-region: us-east-1

      - name: Zip Lambda code
        run: |
          cd hello_world
          zip -r ../hello_world.zip .
          cd ..

      - name: Upload zip to S3
        run: |
          aws s3 cp hello_world.zip s3://lambda-zip-bucket-for-testing-jan/hello_world.zip
